# Masukan API ID ambil di web my.telegram.org
API_ID = "22355402"

# Masukan API HASH ambil di web my.telegram.org
API_HASH = "5d7858e035599aa080d65e14e5e34d4d"

# Masukan String PYROGRAM Bisa di ambil Lewat t.me/GeezRamStringroBot
BOT_TOKEN = "7463102988:AAFQp16pBbCSchNMsH6Yd-sAtGLvvH0Q8cs"

# Untuk Multi Client Tambahkan STRING_SESSION2 sampai STRING_SESSION10
STRING_SESSION1 = "BQFVHcoAQUK5hyNuxBaoPzrYKTfXE2Z_m6Ze2sI_KiSAjUzZzZrBuBnryoCab2EHb-Sg23uruVUphfYQSH0fRtuu6AZEGQ8xooTiVmfTOEOpXzF70JnQD7megmOcigpV0_Eq303aFRZcUYECyWgz2WUPLrMPVVuoQk2DRPm8DSBpdDytzQ25vgnSrn9v8VdijYnBPHdO0qOcgxe9JC_0PjvLGlC23drqpvfvlzmDJ1RpF5Sxp0iAK9RPMTgY4r8wCNlNurKnqwUfXN9DXlAUiibDLIyOCm3eFYWSfTVqPPxK8DN2_4nNhl5wAiDRK7id9MwbP12kq4CMLeuYl_qDkx_2TxXwOgAAAAGmOfANAA"

# Masukan Bot Token Untuk Menghidupkan Inline Help Mu Lewat @BotFather
# Masukan Chat ID dari Group Untuk Bot Log Userbot
# Bila tidak ingin pakai Log userbot, isi dengan 0
# Bila tidak di isi default pindah ke Pesan Tersimpan
BOTLOG_CHATID = 2392938555 # ini adalah integer, tolong jangan gunakan tanda kutip.

# Masukan URL Database Anda, Ambil dari https://elephantsql.com
# Contoh: "postgres://userbot:userbot@localhost:5432/userbot"
DATABASE_URL = "postgresql://evadb_owner:l2d8PojNOtAn@ep-misty-brook-a5stybd0.us-east-2.aws.neon.tech/evadb?sslmode=require"

# Fitur PMPERMIT Untuk Mengaktifkan Ubah ke True
# Untuk Menonaktifkan Ubah ke False
PM_AUTO_BAN = False
